@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --wb-background-color:#362B51;
  --edit-cell-color:#2522ceff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-condensed);
  --font-mono: var(--font-roboto-mono);
  --font-serif: var(--font-roboto-serif);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

.sitePageTitle{
  font-size:16pt;
  line-height: 23px;
}

.button-outline {
  background-color: white;
  border-radius: 4px;
  border-color: var(--wb-background-color);
  border-width: 2px;
  padding:4px;
  color:var(--wb-background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
 cursor: pointer;
}

.button-outline:hover{    
    background-color:var(--wb-background-color);
    color:white;
}

.button-solid {
  background-color:var(--wb-background-color);
  border-radius: 4px;
  border-color:  white;
  border-width: 2px;
  padding:4px;
  color:#f9fafb;
 cursor: pointer;
}

.button-solid:hover {
  background-color:white;
  color:var(--wb-background-color);
  border-color:var(--wb-background-color);
}

.grid-page-container {   
  background-color: white;
  width:100%;
  min-height: 30vh;
  
  .grid-page-header {
    vertical-align: top;
    font-size: 10pt; 
    font-family: -var(--font-roboto-condensed);

    .grid-page-header-path {
      font-weight: normal;
      padding-left: 8px;
    }

    .grid-page-header-page {
      font-weight: bold;
    }

  }

  .grid-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    height: 60px;
    background-color: #f9fafb;  
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid-container-toolbar {
    flex: 1; 
    height: calc(100vh - 136px); 
    min-height: 30vh;
    width:100%;
  }

  .grid-container-no-toolbar {
    flex: 1; 
    height: calc(100vh - 76px); 
    min-height: 30vh;
    width:100%;
  }
   
} 


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-condensed); 
}
.ag-theme-balham {
  --ag-font-family: var(--font-roboto-condensed);
  --ag-font-size: 14px;
  --ag-font-weight: 300;
}

.ag-theme-balham .ag-cell,
.ag-theme-balham .ag-header-cell {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -var(--font-roboto-condensed);
}
/* Custom styles for Employee Roster */
.font-inter {
  font-family: -var(--font-roboto-condensed), sans-serif;
}

h1 {
  font-size: 18pt;
  font-weight: 700;
  font-family: -var(--font-roboto-condensed), sans-serif;
}

.text-17 {
  font-size: 17px;
}

.w-56 {
  width: 14rem;
}

.w-32 {
  width: 8rem;
}

.w-41 {
  width: 10.25rem;
}

.w-26 {
  width: 6.5rem;
}

.-mr-14 {
  margin-right: -3.5rem;
}

.-mr-6 {
  margin-right: -1.5rem;
}

.-mr-17 {
  margin-right: -4.25rem;
}

.flex-basis-auto {
  flex-basis: auto;
}

.bg-purple-50 {
  background-color: rgba(190, 11, 255, 0.02);
}

.text-yellow-custom {
  color: rgba(226, 199, 86, 1);
}